asttokens==2.4.1
blinker==1.8.2
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
devtools==0.12.2
distlib==0.3.8
docker==7.1.0
executing==2.1.0
filelock==3.16.0
Flask==3.0.3
h5py==3.11.0
identify==2.6.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.1.1
packaging==24.1
platformdirs==4.3.3
plotly==5.24.1
pre-commit==3.8.0
psutil==6.0.0
Pygments==2.18.0
PyYAML==6.0.2
requests==2.32.3
retrying==1.3.4
setuptools==75.1.0
six==1.16.0
tenacity==9.0.0
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.4
Werkzeug==3.0.4
zipp==3.20.2
